.alertForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 92%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}

.alertComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 1px 7px 3px rgba(0, 0, 0, 0.75);
}


/*.message{

}*/

.closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #4482A7;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.closeBtn:hover {
    background-color: brown;
    transition: 0.5s;
}