.commentFormComponent,
.postFormComponent,
.toDosFormComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background-image: url(../images/BackGronds/GlobalSocial_850.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 90%;
}

.formBackGround {
    background-color: white;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 7px 3px rgba(0, 0, 0, 0.75);
}

.titleForm {
    font-size: 1.5em;
    text-align: center;
}

.labelTitleComment,
.labelBody {
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.inputTitleComment {
    width: 90%;
    height: 25px;
}

.inputBody {
    max-width: 90%;
    min-width: 90%;
    max-height: 100px;
    min-height: 100px;
}

.btnContainer {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}

.btnCancel,
.btnOk {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 30px;
    background-color: #4482A7;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.btnCancel:hover,
.btnOk:hover {
    background-color: brown;
    transition: 0.5s;
}