*{
    margin: 0;
    padding: 0;
}

.TituloProyecto{
    color: blue;
}

.HeaderComponent{
    width: 100%;
    height: 70px;
    background-color: darkmagenta;
}


.appComponent{
    display: flex;
    background-color: burlywood;
    width: 100%;
    height: 90vh;

}

.LoadinComponent{
    position: absolute;
    background-color: royalblue;
    width: 100%;
    height: 100%;
    float: left;
}

.loadinTitle{
    color: slategray;
}

.section1, .section2 {
    display: flex;
    width: 50%;
    height: 100%;
}

.BeesComponent{
    background-color: cadetblue;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.PostsComponent{
    background-color: chocolate;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.ToDosComponent{
    background-color: cornflowerblue;
    width: 50%;
    height: 100%;
}

.AlbumComponent{
    background-color: darkblue;
    width: 50%;
    height: 100%;
}

.BeeComponent{
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    background-color: red;
}

.BeeComponentName{
    text-align: center;
}

/*querys*/

@media(max-width: 800px){
    .appComponent{
        flex-direction: column;
    }

    .section1, .section2 {
        width: 100%;
        height: 100vh;
    }

    .ToDosComponent, .AlbumComponent{
        float: left;
    }
}