.PostComponent{
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    width: 90%;
    height: 400px;
    background-color:white;
    margin-bottom: 5px;
    overflow-y: scroll;
    box-shadow: 0px -2px 12px -2px rgba(0,0,0,0.75);
}

.titlePost{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 80%;
    height: 50px;
    text-align: center;
}

.bodyPost{
    margin: auto;
    font-size: 0.8em;
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
}

.commentBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 30px;
    background-color: #54686F;
}

.CommentsContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.commBox{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
    height: 200px;
    border: solid 4px rgba(75, 78, 171, 0.2);
}

.titleComm {
    font-size: 20px;
    text-align: -webkit-match-parent;
    padding: 5px;
}

.bodyComm {
    font-size: 15px;
    padding: 10px;
    text-align: unset;
}

.emailComm {
    height: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2px;
}