*{
    margin: 0;
    padding: 0;
}

.headerComponent{
    width: 100%;
    height: 70px;
    background-color: #171A21;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 8px -5px rgba(0,0,0,0.75);

}


.appComponent{
    display: flex;
    background-color: burlywood;
    width: 100%;
    height: 90vh;

}

.titlePage{
    margin-left: 40px;
    width: 150px;
    height: 30px;
    font-size: 1.3em;
    color: white;
}

.section1, .section2 {
    display: flex;
    width: 50%;
    height: 100%;
}

.BeesComponent{
    background-color: white;
    width: 40%;
    height: 100%;
    overflow-y: scroll;
}

.BeesComponent::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

.PostsComponent{
    background-color: white;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.PostsComponent::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.PostsComponent::-webkit-scrollbar-thumb {
    background-color: rgba(15, 0, 15, 0.3);
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.PostsComponent::-webkit-scrollbar-thumb:hover {
    background-color: #15354D;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.PostsComponent::-webkit-scrollbar-thumb:active {
    background-color: #4482A7;
}

.CommentContainer{
    height: 45px;
    background-color: tomato;
}

.ToDosComponent{
    background-color: cornflowerblue;
    width: 25%;
    height: 100%;
}

.beeComponent{
    margin: auto;
    margin-top: 20px;
    width: 95%;
    height: 150px;
    margin-bottom: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.bee-col2, .bee-col1 {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
}
/*querys*/

@media(max-width: 800px){
    

    .BeesComponent, .PostsComponent {
        float: left;
        width: 50%;
    }

    .ToDosComponent, .AlbumComponent {
        display: none;
    } 
}

.imageContainer {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}