.postComponent{
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    width: 90%;
    height: 400px;
    background-color: white;
    margin-bottom: 5px;
    overflow-y: scroll;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.postComponent::-webkit-scrollbar {
    width: 4px;     /* Tamaño del scroll en vertical */
    height: 4px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.postComponent::-webkit-scrollbar-thumb {
    background-color: rgba(15, 0, 15, 0.3);
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.postComponent::-webkit-scrollbar-thumb:hover {
    background-color: #15354D;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.postComponent::-webkit-scrollbar-thumb:active {
    background-color: #4482A7;
}

.headerPostComp{
    color: white;
    background-color: #15354D;
}

.titlePost{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 80%;
    height: 50px;
    text-align: center;
}

.bodyPost{
    margin: auto;
    font-size: 0.8em;
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
}

/*.titleBtn{

}*/

.commentBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 30px;
    background-color: #4482A7;
    font-size: 12px;
    color: white;
}

.CommentsContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.commBox{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    border: solid 4px #377096;
}

.titleComm {
    font-size: 20px;
    text-align: -webkit-match-parent;
    padding: 5px;
}

.bodyComm {
    font-size: 15px;
    padding: 10px;
    text-align: unset;
}

.emailComm {
    height: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2px;
}