*{
    margin: 0;
    padding: 0;
}

.TituloProyecto{
    color: blue;
}

.HeaderComponent{
    margin-bottom: 30px;
    width: 100%;
    height: 70px;
    background-color: #54686F;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 8px -5px rgba(0,0,0,0.75);

}


.appComponent{
    display: flex;
    background-color: burlywood;
    width: 100%;
    height: 90vh;

}

.TitlePage{
    margin-left: 40px;
    width: 150px;
    height: 30px;
    font-size: 1.3em;
    color: white;
}

.LoadinComponent{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
}

.loadinTitle{
    color: slategray;
}

.section1, .section2 {
    display: flex;
    width: 50%;
    height: 100%;
}

.BeesComponent{
    background-color: white;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.PostsComponent{
    background-color: white;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.CommentContainer{
    height: 45px;
    background-color: tomato;
}

.ToDosComponent{
    background-color: cornflowerblue;
    width: 50%;
    height: 100%;
}

.AlbumComponent{
    background-color: darkblue;
    width: 50%;
    height: 100%;
}

.BeeComponent{
    margin: auto;
    width: 90%;
    height: 100px;
    margin-bottom: 5px;
    background-color:whitesmoke;
    border: solid 5px rgba(73, 74, 84, 0.1);
}

.BeeComponentName, .UserNameBee{
    text-align: center;
}



/*querys*/

@media(max-width: 800px){
    .appComponent{
        flex-direction: column;
    }

    .section1, .section2 {
        width: 100%;
        height: 100vh;
    }

    .ToDosComponent, .AlbumComponent{
        float: left;
    }
}