*{
    margin: 0;
    padding: 0;
}

.headerComponent{
    width: 100%;
    height: 70px;
    background-color: #171A21;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 8px -5px rgba(0,0,0,0.75);

}


.appComponent{
    display: flex;
    background-color: burlywood;
    width: 100%;
    height: 90vh;

}

.titlePage{
    margin-left: 40px;
    width: 150px;
    height: 30px;
    font-size: 1.3em;
    color: white;
}

.section1, .section2 {
    display: flex;
    width: 50%;
    height: 100%;
}

.BeesComponent{
    background-color: white;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
}

.PostsComponent{
    background-color: white;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.CommentContainer{
    height: 45px;
    background-color: tomato;
}

.ToDosComponent{
    background-color: cornflowerblue;
    width: 25%;
    height: 100%;
}

.beeComponent{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: auto;
    margin-bottom: 5px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.bee-col2 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

/*querys*/

@media(max-width: 800px){
    

    .BeesComponent, .PostsComponent {
        float: left;
        width: 50%;
    }

    .ToDosComponent, .AlbumComponent {
        display: none;
    } 
}

.imageContainer {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}