*{
    margin: 0;
    padding: 0;
}

.TituloProyecto{
    color: blue;
}

.HeaderComponent{
    margin-bottom: 30px;
    width: 100%;
    height: 70px;
    background-color: #54686F;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 8px -5px rgba(0,0,0,0.75);

}


.appComponent{
    display: flex;
    background-color: burlywood;
    width: 100%;
    height: 90vh;

}

.TitlePage{
    margin-left: 40px;
    width: 150px;
    height: 30px;
    font-size: 1.3em;
    color: white;
}

.LoadinComponent{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 90%;
    float: left;
}

.loadinTitle{
    color: slategray;
}

.section1, .section2 {
    display: flex;
    width: 50%;
    height: 100%;
}

.BeesComponent{
    background-color: white;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
}

.PostsComponent{
    background-color: white;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.CommentContainer{
    height: 45px;
    background-color: tomato;
}

.ToDosComponent{
    background-color: cornflowerblue;
    width: 25%;
    height: 100%;
}

.AlbumComponent{
    background-color: darkblue;
    width: 25%;
    height: 100%;
}

.beeComponent{
    margin: auto;
    width: 90%;
    height: auto;
    margin-bottom: 5px;
    background-color:whitesmoke;
    border: solid 5px rgba(73, 74, 84, 0.1);
    display: flex;
    flex-direction: row;
}

.bee-col1 {

}

.bee-col2 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}


.BeeComponentName, .UserNameBee{
    /* text-align: center; */
}



/*querys*/

@media(max-width: 800px){
    .appComponent{
        
    }

    .BeesComponent {
        float: left;
    }

    .ToDosComponent, .AlbumComponent {
        display: none;
    } 
}

.imageContainer {
    width: 100px;
    height: 100px;
}