.AlbumComponent {
    background-color: white;
    width: 45%;
    height: 100%;
    overflow-y: scroll;
}

.AlbumComponent::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
}


/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.AlbumComponent::-webkit-scrollbar-thumb {
    background-color: rgba(15, 0, 15, 0.3);
    border-radius: 4px;
}


/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.AlbumComponent::-webkit-scrollbar-thumb:hover {
    background-color: #15354D;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* Cambiamos el fondo cuando esté en active */

.AlbumComponent::-webkit-scrollbar-thumb:active {
    background-color: #4482A7;
}

.albumTitle {
    font-size: 15px;
}

.photoContainer {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    background-color: white;
}

.albumContainerComponent {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.albumContainerComponent::-webkit-scrollbar {
    width: 4px;
    /* Tamaño del scroll en vertical */
    height: 4px;
    /* Tamaño del scroll en horizontal */
}


/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.albumContainerComponent::-webkit-scrollbar-thumb {
    background-color: rgba(15, 0, 15, 0.3);
    border-radius: 4px;
}


/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.albumContainerComponent::-webkit-scrollbar-thumb:hover {
    background-color: #15354D;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* Cambiamos el fondo cuando esté en active */

.albumContainerComponent::-webkit-scrollbar-thumb:active {
    background-color: #4482A7;
}

.titleAlbum {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

.titlePhoto {
    height: 50px;
    text-align: center;
    padding: 5px;
}

.imgContainer {
    width: 100%;
}