.ToDosComponent{
    width: 25%;
    height: 100%;
    overflow-y: scroll;
}

.todoComponent {
    margin: auto;
    padding: 2px;
    width: 95%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .8em;
    border: solid 1px #e0e0f5;
    margin-bottom: 5px;
}